@import 'responsive'

.blog
	&--inner
		.blog__wrap
			margin: 0px
			padding-bottom: 42px
			+media(md)
				padding-bottom: 32px
			+media(sm)
				margin: 0 auto
				padding-bottom: 25px

		.blog__item
			display: flex
			flex-wrap: wrap
			width: 100%
			margin: 0px
			background-color: var(--bgc-blog)
			padding: 10px 30px
			margin-bottom: 30px
			+media(mdx)
				padding: 10px 20px
			+media(sm)
				justify-content: center

		.blog__image
			width: 375px
			align-self: start
			margin-top: 15px
			padding-top: 16%
			+media(sm)
				width: 100%

		.blog__content
			width: calc(100% - 375px)
			padding-left: 30px
			+media(mdx)
				padding-left: 20px
			+media(sm)
				width: 100%
				padding-left: 0px

		.blog__col
			padding-right: 35px

		.blog__text
			display: none

		.blog__like
			display: none

		.blog__like--row
			display: flex

	&__holder
		display: flex
		justify-content: space-between
		align-items: center

	&__inner
		display: flex
		align-items: center
		padding-bottom: 40px
		+media(sm)
			padding-bottom: 30px

	&__elem
		cursor: pointer
		border: none
		outline: none
		padding: 0px
		background-color: transparent
		&--col
			width: 22px
			height: 22px

		&--row
			width: 18px
			height: 22px
			margin-right: 12px

		svg
			display: block
			width: 100%
			height: 100%
			fill: #c4c4c4
			transition: 0.3s fill

		&--active
			svg
				fill: #1B58B1

	&__wrap
		display: flex
		flex-wrap: wrap
		margin: 0 -20px
		+media(sm)
			max-width: 450px
			margin: 0 auto

	&__item
		width: calc(100% / 3 - 40px)
		margin: 0 20px
		margin-bottom: 50px
		+media(mdx)
			width: calc(100% / 2 - 40px)
			margin-bottom: 30px
		+media(sm)
			width: 100%
			margin: 0px
			margin-bottom: 20px
		a
			display: inline-block

	&__image
		width: 100%
		background-repeat: no-repeat
		background-size: cover
		padding-top: 55%
		min-height: 200px
		margin-bottom: 24px

	&__title
		font-size: 24px
		line-height: 1.9
		color: var(--color-dark1)
		text-transform: uppercase
		font-weight: 900
		+media(mdx)
			font-size: 22px
			line-height: 1.5
		+media(sm)
			font-size: 20px

	&__box
		margin-bottom: 15px

	&__block	
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-bottom: 7px

	&__date,
	&__col
		font-size: 14px
		line-height: 1.7
		color: var(--color-dark2)
		text-transform: uppercase
		padding-bottom: 15px

	&__col
		padding-left: 22px

	&__text
		p
			font-size: 14px
			line-height: 1.7
			color: var(--info-block)
			padding-bottom: 1em

	&__row
		display: flex
		align-items: center
		justify-content: space-between

	&__like
		cursor: pointer
		display: flex
		align-items: center
		margin-bottom: 15px
		svg
			display: block
			width: 20px
			height: 20px
			fill: var(--color--like)
			margin-right: 12px
			transition: 0.3s fill
		&:hover 
			svg
				fill: var(--hover--like)

			p
				color: var(--hover--like)

		&--row
			display: none

	&__count
		user-select: none
		font-size: 14px
		line-height: 1.7
		color: #808080
		font-weight: normal
		transition: 0.3s color

.msg-page
	padding: 30px 15px
	font-size: 20px
	font-weight: bold
	text-align: center
	width: 100%